<p id="notice"><%= notice %></p>

<p>
  <strong>Assettag:</strong>
  <%= @inventory.AssetTag %>
</p>

<p>
  <strong>Model:</strong>
  <%= @inventory.Model %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @inventory.Serial %>
</p>

<p>
  <strong>Description:</strong>
  <%= @inventory.Description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @inventory.Location %>
</p>

<p>
  <strong>Poc:</strong>
  <%= @inventory.POC %>
</p>

<p>
  <strong>Disposition:</strong>
  <%= @inventory.Disposition %>
</p>

<p>
  <strong>Win7:</strong>
  <%= @inventory.Win7 %>
</p>

<p>
  <strong>Office:</strong>
  <%= @inventory.Office %>
</p>

<p>
  <strong>Access:</strong>
  <%= @inventory.Access %>
</p>

<p>
  <strong>Visio:</strong>
  <%= @inventory.Visio %>
</p>

<p>
  <strong>Project:</strong>
  <%= @inventory.Project %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
