
<body class="theme-dark">
<div class="masthead">
        <div class="top">
                <h3 class="text-muted logo pull-left"><a href="/">BlackHall IT Portal</a></h3>
                <div class="nav nav-pills pull-right">
                        <li>
                        <% if current_user %>
                        Logged in as <%= current_user.username %> <%= link_to "Log Out", logout_path %>
                        <%= javascript_tag do %>
                           window.current_user = "<%= current_user.username %>";
                        <% end %>
                        <% else %>
                        <%= link_to "Log In", login_path %>
                        <%= javascript_tag do %>
                           window.current_user = "";
                        <% end %>
                        <% end %>
                        </li>
                </div>
        </div>
</div>
